.menu {
  height: 4em;
  line-height: 4em;
  text-align: center;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  &.fixed {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  }

  ul, li, a {
    color: #333;
  }

  ul {
    width: 100%;
    display: table;

    li {
      display: table-cell;
      vertical-align: middle;
    }

    li a {
      display: inline-block;
      text-decoration: none;
      height: 100%;
    }

    .list-item.active a {
      border-bottom: solid 5px #9bd9e0;
    }

    .list-item a {
      border-bottom: solid 5px transparent;
      font-size: 1.125em;
      position: relative;
      bottom: 2.5px;

      &:hover {
        border-bottom: solid 5px #9bd9e0;
      }
    }
  }

  .gbg-logo {
    width: 10%;
    min-width: 90px;
    max-width: 180px;
  }

  .register-item {
    margin-left: 0;

    .register {
      width: 165px;
      height: 45px;
      line-height: 45px;
      color: #fff;
    }
  }

}

.menu-trigger {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  display: none;

  span {
    cursor: pointer;
    width: 2em;
    height: 5px;
    position: fixed;
    left: 20px;
    top: 22.5px;
    background: #000;

    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background: inherit;
    }

    &:before {
      top: -9px;
    }

    &:after {
      bottom: -9px;
    }
  }
}
