<footer class="main-footer">
  <div class="content">
    <div class="col-md-6">
      <nav class="footer-menu">
        <ul>
          <li class="list-item"><a href="#home">Home</a></li>
          <li class="list-item"><a href="#presentation">O Evento</a></li>
          <li class="list-item"><a href="#speakers">Palestrantes</a></li>
          <li class="list-item"><a href="#programming">Programação</a></li>
          <li class="list-item"><a href="#local">Local do Evento</a></li>
        </ul>
      </nav>
    </div>

    <div class="col-md-6 google">
      <a href="#"><img src="images/logo-google-cinza.png" alt="Google" class="google-logo"></a></li>
    </div>
  </div>
</footer>
