<header id="home" class="section main-header">
  <div class="content">
    <figure>
      <img src="images/logo-gbg-branco.svg" alt="Google" class="gbg-white-logo">
    </figure>

    <article>
      <p class="slogan">conectar, informar, inspirar</p>
      <time class="date">11Out - São José dos Campos</time>
    </article>

    <div class="google">
      <p>um programa
      <figure><img src="images/logo-google.svg" alt="Google" class="google-logo"></figure></p>
    </div>

    <a href="http://www.eventick.com.br/gbgsjc" target="_blank" class="custom-btn register">Inscreva-se</a>
  </div>
</header>
