<section id="presentation" class="section presentation">
  <div class="menu-trigger"><span></span></div>
  <nav class="menu">
    <ul>
      <li class="logo-item"><a href="#home"><img src="images/logo-gbg.svg" alt="GBG" class="gbg-logo"></a></li>
      <li class="list-item"><a href="#presentation">O Evento</a></li>
      <li class="list-item"><a href="#speakers">Palestrantes</a></li>
      <li class="list-item"><a href="#programming">Programação</a></li>
      <li class="list-item"><a href="#local">Local do Evento</a></li>
      <li class="register-item"><a href="http://www.eventick.com.br/gbgsjc" target="_blank" class="custom-btn register">Inscreva-se</a></li>
    </ul>
  </nav>

  <div class="content">
    <article>
      <h1 class="title">Google Business Group SJC</h1>
      <p class="description">Programa oficial que promove o conhecimento das ferramentas Google entre empreendedores, empresários, profissionais de e-commerce, marketing, estudantes e pessoas interessadas em conhecer mais sobre o poder da web.</p>
      <span class="video-title">Participe do evento de lançamento do<br>GBG SJC</span>

      <a href="https://www.youtube.com/watch?v=oF7SHYYHcRs&feature=youtu.be" target="_blank" class="video-link">Assistir Vídeo</a>
    </article>
  </div>
</section>
