<section id="programming" class="section programming">
  <header class="header">
    <div class="content">
      <h1>Programação</h1>
    </div>
  </header>

  <div class="content">
    <div class="talk">
      <div class="col-md-3 time">
        <time>08:00</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Credenciamento e Welcome Coffee</p>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>08:40</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Abertura Oficial</p>
        <span class="speaker">Kadu Potinatti, Luciano Palma e Thiago Sarraf</span>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>09:00</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Google, quando um empreendimento vira verbo</p>
        <span class="speaker">Gustavo Guanabara</span>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>10:00</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">E-commerce, oportunidades e desafios</p>
        <span class="speaker">Marcelo Paiva</span>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>11:00</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Título em definição ;)</p>
        <span class="speaker">Bob Floriano</span>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>11:30</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Melhor que abraço de sogra!</p>
        <span class="speaker">Tiago Luz</span>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>12:30</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Almoço</p>
        <span class="notes">O almoço é por nossa conta e será no estilo "Brunch"! Aproveite este horário para fortalecer seu networking.</span>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>14:00</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Posicionando o seu site para o Google e para Clientes</p>
        <span class="speaker">Fábio Ricotta</span>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>15:00</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Empreendedorismo digital</p>
        <span class="speaker">Vivianne Vilela</span>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>16:00</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Coffee Break</p>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>16:30</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Casos de sucesso</p>
        <span class="speaker">Convidados</span>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>17:00</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Título em definição ;)</p>
        <span class="speaker">Thiago Sarraf</span>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>17:30</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Bem Vindo ao Mundo.com!</p>
        <span class="speaker">Gil Giardeli</span>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>18:30</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Encerramento oficial e sorteio de brindes</p>
      </div>
    </div>
  </div>
</section>
