<section id="programming" class="section programming">
  <header class="header">
    <div class="content">
      <h1>Programação</h1>
    </div>
  </header>

  <div class="content">
    <div class="talk">
      <div class="col-md-3 time">
        <time>08:30</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Credenciamento e Welcome Coffee</p>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>09:00</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Abertura Oficial</p>
        <span class="speaker">Jaqueline Lafloufa</span>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>09:10</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Tecnologias para a personalização do aprendizado</p>
        <span class="speaker">Thiago Feijão</span>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>09:40</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Ensino Híbrido</p>
        <span class="speaker">Glauco Santos</span>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>10:10</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Possibilidades no uso das Tecnologias</p>
        <span class="speaker">Ana Paula Souza</span>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>10:30</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Educação e Tecnologia - Desafios no Sistema Público</p>
        <span class="speaker">Andréa Gonçalves</span>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>10:50</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Uso das ferramentas Google na Educação</p>
        <span class="speaker">Vinicius Anjos</span>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>11:10</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Segurança na Internet - Um desafio para todos</p>
        <span class="speaker">Vanessa Polli</span>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>11:30</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Debate com os palestrantes</p>
        <span class="speaker">Todos</span>
      </div>
    </div>

    <div class="talk">
      <div class="col-md-3 time">
        <time>11:50</time>
      </div>

      <div class="col-md-9 subject">
        <p class="topic">Encerramento</p>
        <span class="speaker">Organização GEG SJCampos</span>
      </div>
    </div>
  </div>
</section>
