<section id="speakers" class="section speakers">
  <header class="header">
    <div class="content">
      <h1>Palestrantes</h1>
    </div>
  </header>

  <div class="row content speakers-list">
    <div class="col-md-4 speaker">
      <img src="images/speakers/thiago-feijao.jpg" alt="Thiago Feijão" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Thiago Feijão</h1>
        <p class="speaker-description">Founder & CEO do Qmágico, uma startup de Educação que acredita que todos devem ter acesso a uma educação personalizada e de excelência, independente de onde estejam.</p>
      </article>
    </div>

    <div class="col-md-4 speaker">
      <img src="images/speakers/glauco-santos.jpg" alt="Glauco Santos" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Glauco Santos</h1>
        <p class="speaker-description">Em breve mais informações sobre o palestrante.</p>
      </article>
    </div>

    <div class="col-md-4 speaker">
      <img src="images/speakers/jaqueline-nascimento.jpg" alt="Jaqueline Nascimento" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Jaqueline Nascimento</h1>
        <p class="speaker-description">Em breve mais informações sobre a palestrante.</p>
      </article>
    </div>

    <div class="col-md-4 speaker">
      <img src="images/speakers/andrea-goncalves.jpg" alt="Andréa Gonçalves" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Andréa Gonçalves</h1>
        <p class="speaker-description">Em breve mais informações sobre a palestrante.</p>
      </article>
    </div>

    <div class="col-md-4 speaker">
      <img src="images/speakers/vinicius-anjos.jpg" alt="Vinicius Anjos" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Vinicius Anjos</h1>
        <p class="speaker-description">Em breve mais informações sobre o palestrante.</p>
      </article>
    </div>

    <div class="col-md-4 speaker">
      <img src="images/speakers/vanessa-polli.jpg" alt="Vanessa Polli" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Vanessa Polli</h1>
        <p class="speaker-description">Em breve mais informações sobre a palestrante.</p>
      </article>
    </div>
  </div>
</section>
