<section id="speakers" class="section speakers">
  <header class="header">
    <div class="content">
      <h1>Palestrantes</h1>
    </div>
  </header>

  <div class="row content speakers-list">
    <div class="col-md-4 speaker">
      <img src="images/speakers/thiago-feijao.jpg" alt="Thiago Feijão" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Thiago Feijão</h1>
        <p class="speaker-description">Founder & CEO do Qmágico, uma startup de Educação que acredita que todos devem ter acesso a uma educação personalizada e de excelência, independente de onde estejam.</p>
      </article>
    </div>

    <div class="col-md-4 speaker">
      <img src="images/speakers/glauco-santos.jpg" alt="Glauco Santos" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Glauco Santos</h1>
        <p class="speaker-description">Professor de História e Filosofia no Instituto São José, professor/bolsista da Fundação Lemann no curso de Ensino Híbrido. É também formado em Publicidade e Propaganda pela Faculdade Cásper Líbero.</p>
      </article>
    </div>

    <div class="col-md-4 speaker">
      <img src="images/speakers/ana-paula.jpg" alt="Ana Paula Souza" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Ana Paula Souza</h1>
        <p class="speaker-description">Informações sobre a palestrante em breve.</p>
      </article>
    </div>

    <div class="col-md-4 speaker">
      <img src="images/speakers/andrea-goncalves.jpg" alt="Andréa Gonçalves" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Andréa Gonçalves</h1>
        <p class="speaker-description">Pedagoga, pós-graduada em Mídias na Educação pela USP, mestranda em Desenvolvimento Humano pela UNITAU tem como desafio implementar o uso da tecnologia na rede pública de ensino.</p>
      </article>
    </div>

    <div class="col-md-4 speaker">
      <img src="images/speakers/vinicius-anjos.jpg" alt="Vinicius Anjos" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Vinicius Anjos</h1>
        <p class="speaker-description">Educador, é um entusiasta do uso das ferramentas Google, busca trazer inspirações adquiridas ao longo das inúmeras áreas de atuação e torna-se um multiplicador do uso da tecnologia em sala de aula.</p>
      </article>
    </div>

    <div class="col-md-4 speaker">
      <img src="images/speakers/vanessa-polli.jpg" alt="Vanessa Polli" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Vanessa Polli</h1>
        <p class="speaker-description">Especialista em Direito Digital e Coordenadora do Programa Segurança Digital, que leva para escolas oficinas sobre uso consciente da tecnologia envolvendo alunos, pais e professores.</p>
      </article>
    </div>

    <div class="col-md-4 speaker">
      <img src="images/speakers/jaqueline-lafloufa.jpg" alt="Jaqueline Lafloufa" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Jaqueline Lafloufa</h1>
        <p class="speaker-description">Editora no B9, editora da seção BUZZ na revista Galileu (ed. Globo), blogueira do BrasilPost e consultora digital. Também é professora do curso sobre o uso de mídias sociais no Jornalismo na Atlas Media Lab.</p>
      </article>
    </div>
  </div>


</section>
