<section id="speakers" class="section speakers">
  <header class="header">
    <div class="content">
      <h1>Palestrantes</h1>
    </div>
  </header>

  <div class="row content speakers-list">
    <div class="col-md-4 speaker">
      <img src="images/tiago.jpg" alt="Tiago Luz" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Tiago Luz</h1>
        <p class="speaker-description">Formado em business pela Saint Mary’s University, pós em Inteligência Competitiva pela PUC, passagens pela DM9, Wundermane e UnderDOGS, Tiago Luz é reconhecido como um dos maiores especialistas em Search Engine Marketing e Usabilidade do Brasil.</p>
      </article>
    </div>

    <div class="col-md-4 speaker">
      <img src="images/gil.jpg" alt="Gil Giardelli" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Gil Giardelli</h1>
        <p class="speaker-description">Estudioso da Cultura Digital, com mais de 15 anos de experiência. É web ativista, difusor de conceitos e atividades ligados à sociedade em rede, colaboração humana, economia criativa e inovação digital.</p>
      </article>
    </div>

    <div class="col-md-4 speaker">
      <img src="images/guanabara.jpg" alt="Gustavo Guanabara" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Gustavo Guanabara</h1>
        <p class="speaker-description">Especialista em Ciência da Computação, funcionário público, professor e consultor de produção de conteúdos para marcas como a Hostnet. Criador do projeto CursoemVideo, que ensina jovens programadores.</p>
      </article>
    </div>

    <div class="col-md-4 speaker">
      <img src="images/marcelo.jpg" alt="Marcelo Paiva" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Marcelo Paiva</h1>
        <p class="speaker-description">Diretor da Makprime, Dealer da Access Music no Brasil, MBA em Gestão Empresarial, gerencia projetos de eCommerce em vários segmentos e Gerente do programa Google Business Group de João Pessoa/PB.</p>
      </article>
    </div>

    <div class="col-md-4 speaker">
      <img src="images/vivianne.jpg" alt="Vivianne Vilela" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Vivianne Vilela</h1>
        <p class="speaker-description">Administradora pelo Unicentro Newton Paiva, MBA em Gestão de Projetos e Negócios com especialização em marketing. Diretora Executiva do E-Commerce Brasil. Foi analista do Sebrae Nacional, por 7 anos atuando em projetos direcionados para o uso da internet nos pequenos negócios.</p>
      </article>
    </div>

    <div class="col-md-4 speaker">
      <img src="images/fabio-ricotta.jpg" alt="Fábio Ricotta" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Fábio Ricotta</h1>
        <p class="speaker-description">Bacharel em Ciência da Computação pela Universidade Federal de Itajubá. É o Co-Fundador da Agência Mestre, onde atua com SEO desde 2005. Referência nacional em SEO, frequenta diversos eventos nacionais e internacionais de SEO, sempre compartilhando as ultimas técnicas e novidades do mercado.</p>
      </article>
    </div>

    <div class="col-md-4 speaker">
      <img src="images/thiago-sarraf.jpg" alt="Thiago Sarraf" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Thiago Sarraf</h1>
        <p class="speaker-description">Consultor, Professor, Palestrante, Investidor Anjo e Empresário. Especialista em E-commerce já desenvolveu mais de 150 lojas virtuais e já trabalhou na Compaq, HP, Microsoft, Locaweb, iG, UOL e Agência Pukis. É colunista e articulista dos portais iMasters e E-commerce Brasil.</p>
      </article>
    </div>

    <div class="col-md-4 speaker">
      <img src="images/bob-floriano.png" alt="Bob Floriano" class="speaker-photo">

      <article>
        <h1 class="speaker-name">Bob Floriano</h1>
        <p class="speaker-description">Apresentador de televisão com sucessos representativos em sua carreira como Shop Tour, Grupo Pão de Açucar, Jornal Fala Brasil e atualmente na Casas Bahia. Floriano vai compartilhar exemplos práticos que podemos usar também no mundo online.</p>
      </article>
    </div>
  </div>
</section>
