<section class="sponsors">
  <div class="row content">
    <h1>Patrocinadores</h1>
    <div class="col-md-3">
      <a href="http://www.institutosaojose.org.br" target="_blank" >
        <img src="images/sponsors/instituto-sao-jose.jpg" alt="Instituto São José">
      </a>
    </div>

    <div class="col-md-3">
      <a href="http://www.imaxbrasil.com.br" target="_blank">
        <img src="images/sponsors/imax.png" alt="iMax">
      </a>
    </div>

    <div class="col-md-3">
      <a href="http://designa.com.br" target="_blank" >
        <img src="images/sponsors/designa.png" alt="Designa, Cool guys doing great stuff for web.">
      </a>
    </div>

    <div class="col-md-3">
      <a href="http://www.bilac.com.br" target="_blank" >
        <img src="images/sponsors/bilac.jpg" alt="Bilac">
      </a>
    </div>

  <div class="row content">
    <h1>Apoiadores</h1>
    <div class="col-md-3">
      <a href="http://portalweb.institutoideia.com" target="_blank" >
        <img src="images/sponsors/ideia.png" alt="Instituto Ideia">
      </a>
    </div>

    <div class="col-md-3">
      <a href="http://www.segurancadigital.net" target="_blank" >
        <img src="images/sponsors/seguranca-digital.png" alt="Segurança e uso consciente da internet">
      </a>
    </div>
  </div>
</section>
