<section class="sponsors">
  <div class="row content">
    <h1>Patrocinadores</h1>
    <div class="col-md-3">
      <a href="http://www.institutosaojose.org.br" target="_blank" >
        <img src="images/sponsors/instituto-sao-jose.jpg" alt="Instituto São José">
      </a>
    </div>

    <div class="col-md-3">
      <a href="http://www.imaxbrasil.com.br" target="_blank">
        <img src="images/sponsors/imax.png" alt="iMax">
      </a>
    </div>

    <div class="col-md-3">
      <a href="http://www.segurancadigital.net" target="_blank" >
        <img src="images/sponsors/seguranca-digital.png" alt="Segurança e uso consciente da internet">
      </a>
    </div>

    <div class="col-md-3">
      <a href="http://designa.com.br" target="_blank" >
        <img src="images/sponsors/designa.png" alt="Designa, Cool guys doing great stuff for web.">
      </a>
    </div>

    <div class="col-md-3">
      <a href="http://www.siexpress.com.br" target="_blank" >
        <img src="images/sponsors/si.png" alt="S.I. Express.">
      </a>
    </div>


    <div class="col-md-3">
      <a href="http://www.bilac.com.br" target="_blank" >
        <img src="images/sponsors/bilac.jpg" alt="Bilac">
      </a>
    </div>

    <div class="col-md-3">
      <a href="http://papayacomunicacao.com.br" target="_blank" >
        <img src="images/sponsors/papaya.png" alt="Papaya - Marketing, Comunicação, Vendas.">
      </a>
    </div>

    <div class="col-md-3">
      <a href="https://plus.google.com/111344857243212426848/about" target="_blank" >
        <img src="images/sponsors/centragua.png" alt="Centrágua Ice - (12) 3922-1075">
      </a>
    </div>
  </div>

  <div class="row content">
    <h1>Apoiadores</h1>
    <div class="col-md-3">
      <a href="http://portalweb.institutoideia.com" target="_blank" >
        <img src="images/sponsors/ideia.png" alt="Instituto Ideia">
      </a>
    </div>

    <div class="col-md-3">
      <a href="http://www.videoclick.com.br" target="_blank" >
        <img src="images/sponsors/video-click.png" alt="Vídeo Click - Custom Production">
      </a>
    </div>

    <div class="col-md-3">
      <a href="http://loud.ag" target="_blank" >
        <img src="images/sponsors/loud.png" alt="Loud Design">
      </a>
    </div>

    <div class="col-md-3">
      <a href="http://www.acijovemsjc.com.br" target="_blank" >
        <img src="images/sponsors/aci-jovem.png" alt="ACI Jovem">
      </a>
    </div>

    <div class="col-md-3">
      <a href="http://lupanegocios.com.br" target="_blank" >
        <img src="images/sponsors/lupa.png" alt="Lupa - Agenciador de Negócios">
      </a>
    </div>

    <div class="col-md-3">
      <a href="https://www.facebook.com/chfsconsultoria" target="_blank" >
        <img src="images/sponsors/chfs.png" alt="Chf's Consultoria empresarial para cafés, bares e restaurantes">
      </a>
    </div>

    <div class="col-md-3">
      <a href="http://www.ludie.com.br" target="_blank" >
        <img src="images/sponsors/ludie.png" alt="Ludie - Lúdico inteligência emocional.">
      </a>
    </div>

    <div class="col-md-3">
      <a href="http://visagephotos.com.br" target="_blank" >
        <img src="images/sponsors/visage.png" alt="Photos Visage">
      </a>
    </div>
  </div>
</section>
