.presentation {
  text-align: center;
  color: #414243;
  background-image: url("/images/presentation.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .content {
    padding: 10% 0 20% 0;
  }

  article {
    padding: 0 2em;

    .date {
      font-size: 3em;
      font-weight: 300;
    }

    .title {
      font-size: 3em;
      font-weight: 300;
      color: #fff;
    }

    .city {
      font-size:2em;
      font-weight: 300;
    }

    .description {
      font-size: 1.125em;
      font-weight: 300;
      margin: 2.25em auto 2em auto;
      max-width: 700px;
    }

    .video-title {
      font-size: 1.125em;
      font-weight: 500;
      display: block;
    }

    .video-link {
      font-size: 1.125em;
      display: inline-block;
      margin-top: 5.5em;
      color: #000;
      text-decoration: none;
      font-weight: 500;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: -4em;
        top: 50%;
        margin-top: -1.5em;
        display: inline-block;
        border-radius: 50%;
        width: 3em;
        height: 3em;
        background-color: #3366cc;
      }

      &:after {
        content: "";
        position: absolute;
        left: -2.75em;
        top: 50%;
        margin-top: -.5em;
        border-left: solid .75em #A5F3EF;
        border-top: solid .5em transparent;
        border-bottom: solid .5em transparent;
      }
    }
  }
}
